@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 0.875rem;
}


img {
    max-width: 100%;
}
/* サイト全体のコンテンツ幅を設定 */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
/* 中のコンテンツ部分の最大幅を設定 */
.inner {
    max-width: 800px;
    margin: 0 auto;
}
.section-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#header {
    margin-top: 60px;
}

#header .site-title {
    width: 170px;
    line-height: 1px;
    margin-bottom: 15px;
}

#header .site-title a {
    display: block;
  }

#mainvisual {
    margin-bottom: 60px;
  }

#index {
    background-color: #f5f5f5;
    padding-bottom: 1px;
  
}

#index .section-title {
    text-align: center;
    padding-top: 65px;
    margin-bottom: 34px;
}

#index .index-list {
    list-style-position:inside;
    text-align: center;
    border: #333333 solid 1px;
    line-height: 43px;
    margin:34px 60px 60px 60px;
    padding: 20px 0;
}

.photo {
  padding-top: 60px;
  margin: 0;
}

.photo-list {
     display: flex;
     flex-wrap: wrap;
     /* justify-content:space-between; /* 子要素を均等に配置・両端揃え */
     gap: 15px 15px; 
}
.photo-list img {
   width: 49%;
}

#detail {
    background-color: #f5f5f5;
    margin-top: 60px;
}


#detail .content {
    display: flex;
    padding-left: 60px;
}
#detail .section-title {
    padding-top: 60px;
    padding-bottom: 23px;
}

#detail dl {
   width: 35%;
   border-right: #333333 solid 1px;
   padding-right: 60px;
}  
#detail .content dt {
    font-weight: bold;
}

#detail .content dd {
padding-bottom: 10px;

}


#detail .detail-text {
    width: 65%;
    padding-left: 40px;

}

#detail .detail-text p {
    margin-bottom: 20px;
}

#detail .link {
    color: chocolate;
    opacity: 0.7;
}

#detail .link:hover {
    color: brown;
    opacity: 1;
    transition: 1.0s ;

}


#footer {
    font-size: 0.625rem;
    padding: 15px 0;
    text-align: center;

}

@media screen and (max-width: 1024px) {
    .inner {
      padding: 0 10px;
    }

   #header {
     padding: 0 10px;
    }

   #mainvisual {
      padding: 0 10px;
    }

   #index {
      padding: 10px 0;
      }
   #index .index-list {
      margin: 30px 30px;


   }

     /*
  画像を縦に並べる
  */

  .photo {
    padding: 60px 0;
  }
  .photo-list{
    flex-direction: column;
  }
  .photo-list img {
    width: 100%;
    text-align: center;
  }

  #detail {
    /* margin:70px 0 ; */
    padding: 40px 20px;
  }

  /* #detail .section-title {
    margin-top: -60px;
  } */
  #detail .content {
    flex-direction: column;
    /* padding-left: 20px;
    margin: 10px; */

 }

 #detail  dl {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #4d4545;
    padding:0 0 20px 0;
 
 }


 #detail .detail-text  {
    width: 100%;
    padding: 40px 0 0 0;
 }

/* #footer {
    margin: -20px auto;

} */

}
